* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*GRID_CONTAINER
GRID_HEADER
GRID_SECTION_ONE
GRID_SECTION_TWO
GRID_SECTION_THREE
GRID_SECTION_FOUR
GRID_SECTION_FIVE
GRID_FOOTER*/
.GRID_CONTAINER {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "GRID_HEADER        GRID_HEADER " "GRID_SECTION_ONE   GRID_SECTION_ONE" "GRID_SECTION_TWO   GRID_SECTION_TWO" "GRID_SECTION_THREE GRID_SECTION_THREE" "GRID_SECTION_FOUR  GRID_SECTION_FOUR" "GRID_SECTION_FIVE  GRID_SECTION_FIVE" "GRID_FOOTER        GRID_FOOTER";
}
.GRID_CONTAINER .GRID_HEADER {
  grid-area: GRID_HEADER;
}
.GRID_CONTAINER .GRID_SECTION_ONE {
  grid-area: GRID_SECTION_ONE;
}
.GRID_CONTAINER .GRID_SECTION_TWO {
  grid-area: GRID_SECTION_TWO;
}
.GRID_CONTAINER .GRID_SECTION_THREE {
  grid-area: GRID_SECTION_THREE;
}
.GRID_CONTAINER .GRID_SECTION_FOUR {
  grid-area: GRID_SECTION_FOUR;
}
.GRID_CONTAINER .GRID_SECTION_FIVE {
  grid-area: GRID_SECTION_FIVE;
}
.GRID_CONTAINER .GRID_FOOTER {
  grid-area: GRID_FOOTER;
}

/*
container_header
container_header_logo
container_header_button
*/
.container_header {
  width: 100%;
  padding: 30px 30px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container_header .container_header_logo {
  width: 230px;
  height: 35px;
}
.container_header .container_header_button {
  width: 150px;
  padding: 10px 0px;
  background: hsl(207deg, 100%, 98%);
  border: 1px solid hsl(322deg, 100%, 66%);
  border-radius: 100px;
  cursor: pointer;
  color: hsl(322deg, 100%, 66%);
  transition: 0.2s all;
}
.container_header .container_header_button:hover {
  border: 1px solid hsl(321deg, 100%, 78%);
  color: hsl(321deg, 100%, 78%);
}

@media (min-width: 320px) and (max-width: 423px) {
  .container_header .container_header_logo {
    width: 120px;
    height: 25px;
  }
  .container_header .container_header_button {
    width: 100px;
    padding: 8px 0px;
  }
}
.container_sectOne {
  width: 100%;
  padding: 100px 30px;
  text-align: center;
  background: white;
}
.container_sectOne .container_sectOne_boxTop {
  width: 100%;
  padding: 10px 0px;
}
.container_sectOne .container_sectOne_boxTop .container_sectOne_boxTop_title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 53px;
  color: hsl(192deg, 100%, 9%);
}
.container_sectOne .container_sectOne_boxTop .container_sectOne_boxTop_parrafo {
  margin: 20px auto;
  width: 40%;
  font-weight: 400;
  color: hsl(192deg, 100%, 9%);
}
.container_sectOne .container_sectOne_boxTop .container_sectOne_boxTop_button {
  margin-top: 20px;
  width: 23%;
  padding: 23px 0px;
  border: none;
  color: hsl(207deg, 100%, 98%);
  background: hsl(322deg, 100%, 66%);
  border-radius: 100px;
  box-shadow: 0px 0px 2px hsl(192deg, 100%, 9%);
  font-size: 400;
  transition: 0.3s all;
}
.container_sectOne .container_sectOne_boxTop .container_sectOne_boxTop_button:hover {
  background: hsl(321deg, 100%, 78%);
  cursor: pointer;
}
.container_sectOne .container_sectOne_boxImage {
  margin: 80px auto;
  width: 80%;
  height: 700px;
  padding: 10px 0px;
}
.container_sectOne .container_sectOne_boxMarker {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.container_sectOne .container_sectOne_boxMarker .container_sectOne_boxMarker_box {
  width: auto;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container_sectOne .container_sectOne_boxMarker .container_sectOne_boxMarker_box .container_sectOne_boxMarker_box_image {
  width: 40px;
  height: 40px;
}
.container_sectOne .container_sectOne_boxMarker .container_sectOne_boxMarker_box .container_sectOne_boxMarker_box_number {
  font-size: 70px;
  font-weight: 700;
}
.container_sectOne .container_sectOne_boxMarker .container_sectOne_boxMarker_box .container_sectOne_boxMarker_box_text {
  font-size: 400;
  font-size: 18px;
  color: hsl(192deg, 100%, 9%);
  text-align: center;
}

@media (min-width: 320px) and (max-width: 423px) {
  .container_sectOne {
    padding: 100px 20px;
  }
  .container_sectOne .container_sectOne_boxTop {
    width: 100%;
    padding: 10px 0px;
    background: hsl(207deg, 100%, 98%);
  }
  .container_sectOne .container_sectOne_boxTop .container_sectOne_boxTop_title {
    font-size: 40px;
  }
  .container_sectOne .container_sectOne_boxTop .container_sectOne_boxTop_parrafo {
    width: 100%;
  }
  .container_sectOne .container_sectOne_boxTop .container_sectOne_boxTop_button {
    width: 80%;
    padding: 15px 0px;
  }
  .container_sectOne .container_sectOne_boxImage {
    margin: 80px auto;
    width: 90%;
    height: 250px;
    padding: 10px 0px;
  }
  .container_sectOne .container_sectOne_boxMarker .container_sectOne_boxMarker_box {
    width: 200px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .container_sectOne .container_sectOne_boxMarker .container_sectOne_boxMarker_box .container_sectOne_boxMarker_box_image {
    width: 30px;
    height: 30px;
  }
  .container_sectOne .container_sectOne_boxMarker .container_sectOne_boxMarker_box .container_sectOne_boxMarker_box_number {
    font-size: 70px;
    font-weight: 700;
  }
  .container_sectOne .container_sectOne_boxMarker .container_sectOne_boxMarker_box .container_sectOne_boxMarker_box_text {
    color: rgb(165, 164, 164);
    text-align: center;
  }
}
.container_secTwo {
  width: 100%;
  padding: 10px 0px;
  background: white;
}
.container_secTwo .container_secTwo_blockCurvaTop {
  width: 100%;
  height: 100px;
  background-image: url(../images/bg-section-top-desktop-1.svg);
  background-size: 100% 100%;
}
.container_secTwo .container_secTwo_blockBox {
  width: 100%;
  padding: 10px 50px;
  background: hsl(207deg, 100%, 98%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container_secTwo .container_secTwo_blockBox .container_secTwo_blockBox_section {
  width: 500px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container_secTwo .container_secTwo_blockBox .container_secTwo_blockBox_section .container_secTwo_blockBox_section_title {
  font-weight: 700;
  font-size: 40px;
  color: hsl(192deg, 100%, 9%);
}
.container_secTwo .container_secTwo_blockBox .container_secTwo_blockBox_section .container_secTwo_blockBox_section_parrafo {
  margin-top: 20px;
  color: hsl(192deg, 100%, 9%);
  font-weight: 400;
}
.container_secTwo .container_secTwo_blockBox .container_secTwo_blockBox_image {
  width: 550px;
  height: 550px;
}
.container_secTwo .container_secTwo_blockCurvaBottom {
  width: 100%;
  height: 100px;
  background-image: url(../images/bg-section-bottom-desktop-1_pieyour.svg);
  background-size: 100% 100%;
}

@media (min-width: 320px) and (max-width: 423px) {
  .container_secTwo {
    width: 100%;
    padding: 10px 0px;
    background: white;
  }
  .container_secTwo .container_secTwo_blockCurvaTop {
    width: 100%;
    height: 100px;
    background-image: url(../images/bg-section-top-mobile-1.svg);
    background-size: 100% 100%;
  }
  .container_secTwo .container_secTwo_blockBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }
  .container_secTwo .container_secTwo_blockBox .container_secTwo_blockBox_section {
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }
  .container_secTwo .container_secTwo_blockBox .container_secTwo_blockBox_section .container_secTwo_blockBox_section_title {
    font-size: 35px;
    margin: auto;
  }
  .container_secTwo .container_secTwo_blockBox .container_secTwo_blockBox_section .container_secTwo_blockBox_section_parrafo {
    margin-top: 20px;
    color: hsl(192deg, 100%, 9%);
    font-weight: 400;
  }
  .container_secTwo .container_secTwo_blockBox .container_secTwo_blockBox_image {
    width: 100%;
    height: 300px;
  }
  .container_secTwo .container_secTwo_blockCurvaBottom {
    width: 100%;
    height: 100px;
    background-image: url(../images/bg-section-bottom-mobile-1.svg);
    background-size: 100% 100%;
  }
}
.container_secThree {
  width: 100%;
  padding: 100px 50px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container_secThree .container_secThree_boxImage {
  width: 550px;
  height: 550px;
}
.container_secThree .container_secThree_boxSection {
  width: 500px;
  padding: 10px;
}
.container_secThree .container_secThree_boxSection .container_secThree_boxSection_title {
  font-size: 40px;
}
.container_secThree .container_secThree_boxSection .container_secThree_boxSection_parrafo {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 423px) {
  .container_secThree {
    padding: 30px 10px;
  }
  .container_secThree .container_secThree_boxImage {
    width: 100%;
    height: 300px;
  }
  .container_secThree .container_secThree_boxSection {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
  }
  .container_secThree .container_secThree_boxSection .container_secThree_boxSection_title {
    font-size: 35px;
  }
  .container_secThree .container_secThree_boxSection .container_secThree_boxSection_parrafo {
    margin-top: 20px;
    color: hsl(192deg, 100%, 9%);
  }
}
.container_secFour {
  width: 100%;
  padding: 10px 0px;
  background: white;
}
.container_secFour .container_secFour_blockCurvaTop {
  width: 100%;
  height: 100px;
  background-image: url(../images/bg-section-top-desktop-2.svg);
  background-size: 100% 100%;
}
.container_secFour .container_secFour_blockBox {
  width: 100%;
  padding: 10px 50px;
  background: hsl(207deg, 100%, 98%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container_secFour .container_secFour_blockBox .container_secFour_blockBox_section {
  width: 500px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container_secFour .container_secFour_blockBox .container_secFour_blockBox_section .container_secFour_blockBox_section_title {
  font-weight: 700;
  font-size: 40px;
  color: hsl(192deg, 100%, 9%);
}
.container_secFour .container_secFour_blockBox .container_secFour_blockBox_section .container_secFour_blockBox_section_parrafo {
  margin-top: 20px;
  color: hsl(192deg, 100%, 9%);
  font-weight: 400;
}
.container_secFour .container_secFour_blockBox .container_secFour_blockBox_image {
  width: 550px;
  height: 550px;
}
.container_secFour .container_secFour_blockCurvaBottom {
  width: 100%;
  height: 100px;
  background-image: url(../images/bg-section-bottom-desktop-2.svg);
  background-size: 100% 100%;
}

@media (min-width: 320px) and (max-width: 423px) {
  .container_secFour {
    width: 100%;
    padding: 10px 0px;
    background: white;
  }
  .container_secFour .container_secFour_blockCurvaTop {
    width: 100%;
    height: 100px;
    background-image: url(../images/bg-section-top-mobile-2.svg);
    background-size: 100% 100%;
  }
  .container_secFour .container_secFour_blockBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }
  .container_secFour .container_secFour_blockBox .container_secFour_blockBox_section {
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }
  .container_secFour .container_secFour_blockBox .container_secFour_blockBox_section .container_secFour_blockBox_section_title {
    font-size: 35px;
    margin: auto;
  }
  .container_secFour .container_secFour_blockBox .container_secFour_blockBox_section .container_secFour_blockBox_section_parrafo {
    margin-top: 20px;
    color: hsl(192deg, 100%, 9%);
    font-weight: 400;
  }
  .container_secFour .container_secFour_blockBox .container_secFour_blockBox_image {
    width: 100%;
    height: 300px;
  }
  .container_secFour .container_secFour_blockCurvaBottom {
    width: 100%;
    height: 100px;
    background-image: url(../images/bg-section-bottom-mobile-2.svg);
    background-size: 100% 100%;
  }
}
.container_secFive {
  width: 100%;
  padding: 80px 0px;
  background: white;
}
.container_secFive .container_secFive_title {
  text-align: center;
  font-size: 40px;
}
.container_secFive .container_secFive_button {
  margin-top: 30px;
  width: 350px;
  padding: 20px 0px;
  border: none;
  background: hsl(322deg, 100%, 66%);
  color: hsl(207deg, 100%, 98%);
  border-radius: 50px;
  margin-left: calc(50% - 175px);
  transition: 0.3s all;
  box-shadow: 0px 0px 5px grey;
}
.container_secFive .container_secFive_button:hover {
  background: hsl(321deg, 100%, 78%);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 423px) {
  .container_secFive {
    width: 100%;
    padding: 50px 0px;
  }
  .container_secFive .container_secFive_title {
    text-align: center;
    font-size: 35px;
    background: padding-box;
    color: hsl(192deg, 100%, 9%);
  }
  .container_secFive .container_secFive_button {
    margin-top: 30px;
    border: none;
    background: hsl(322deg, 100%, 66%);
    color: hsl(207deg, 100%, 98%);
    border-radius: 50px;
    transition: 0.3s all;
    box-shadow: 0px 0px 5px grey;
    width: 250px;
    padding: 15px 0px;
    margin-left: calc(50% - 125px);
  }
  .container_secFive .container_secFive_button:hover {
    background: hsl(321deg, 100%, 78%);
    cursor: pointer;
  }
}
.container_contFooter {
  width: 100%;
  padding-top: 150px;
  background: white;
}
.container_contFooter .container_contFooter_curva {
  width: 100%;
  height: 100px;
  background-image: url(../images/bg-footer-top-desktop.svg);
  background-size: 100% 100%;
}
.container_contFooter .container_contFooter_block {
  width: 100%;
  padding: 0px 70px;
  background: hsl(192deg, 100%, 9%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle {
  width: 500px;
  padding: 50px 0px;
  background: hsl(192deg, 100%, 9%);
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_logo {
  width: 280px;
  height: 50px;
  background-image: url(../images/logo_blanco.png);
  background-size: 100% 100%;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_parrafo {
  width: 400px;
  margin: 30px 0px;
  font-weight: 400;
  color: hsl(207deg, 100%, 98%);
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_boxIcons {
  margin-top: 20px;
  width: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_boxIcons .container_contFooter_block_huddle_boxIcons_icon {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_boxIcons .container_contFooter_block_huddle_boxIcons_text {
  color: hsl(207deg, 100%, 98%);
  margin-left: 10px;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_redes {
  margin-top: 50px;
  width: 120px;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_redes .container_contFooter_block_huddle_redes_box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_redes .container_contFooter_block_huddle_redes_box .iconRed {
  color: hsl(207deg, 100%, 98%);
  font-size: 32px;
  transition: 0.4s all;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_redes .container_contFooter_block_huddle_redes_box .iconRed:hover {
  color: rgb(10, 94, 163);
  cursor: pointer;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter {
  width: 500px;
  padding: 50px 0px;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_title {
  color: hsl(207deg, 100%, 98%);
  font-size: 35px;
  font-weight: 600;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_parrafo {
  width: 380px;
  margin-top: 20px;
  color: hsl(207deg, 100%, 98%);
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput {
  margin-top: 20px;
  width: 100%;
  position: relative;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_input {
  width: 300px;
  padding: 10px;
  border-radius: none;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_input:focus {
  outline: hsl(0deg, 100%, 63%);
  border: 1px solid hsl(0deg, 100%, 63%);
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_text {
  margin: 10px 0px;
  color: white;
  position: absolute;
  display: none;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .activar_label_JS {
  display: block;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_button {
  margin-left: 5px;
  width: 150px;
  padding: 10px 0px;
  background: hsl(322deg, 100%, 66%);
  color: hsl(207deg, 100%, 98%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.5s all;
}
.container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_button:hover {
  background: hsl(321deg, 100%, 78%);
}

@media (min-width: 320px) and (max-width: 423px) {
  .container_contFooter {
    width: 100%;
    padding-top: 150px;
    background: white;
  }
  .container_contFooter .container_contFooter_curva {
    width: 100%;
    height: 100px;
    background-image: url(../images/bg-footer-top-mobile.svg);
    background-size: 100% 100%;
  }
  .container_contFooter .container_contFooter_block {
    width: 100%;
    padding: 0px 20px;
    background: hsl(192deg, 100%, 9%);
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle {
    padding: 50px 0px;
    background: hsl(192deg, 100%, 9%);
    width: 100%;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_logo {
    width: 150px;
    height: 30px;
    background-image: url(../images/logo_blanco.png);
    background-size: 100% 100%;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_parrafo {
    margin: 30px 0px;
    font-weight: 400;
    color: hsl(207deg, 100%, 98%);
    width: 100%;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_boxIcons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_boxIcons .container_contFooter_block_huddle_boxIcons_icon {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_boxIcons .container_contFooter_block_huddle_boxIcons_text {
    color: hsl(207deg, 100%, 98%);
    margin-left: 10px;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_redes {
    margin-top: 50px;
    width: 120px;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_redes .container_contFooter_block_huddle_redes_box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_redes .container_contFooter_block_huddle_redes_box .iconRed {
    color: hsl(207deg, 100%, 98%);
    font-size: 32px;
    transition: 0.4s all;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_huddle .container_contFooter_block_huddle_redes .container_contFooter_block_huddle_redes_box .iconRed:hover {
    color: rgb(10, 94, 163);
    cursor: pointer;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_newsletter {
    width: 100%;
    padding: 50px 0px;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_title {
    color: hsl(207deg, 100%, 98%);
    font-size: 25px;
    font-weight: 600;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_parrafo {
    margin-top: 20px;
    color: hsl(207deg, 100%, 98%);
    width: 100%;
    font-weight: 400;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput {
    margin-top: 20px;
    width: 100%;
    position: relative;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_input {
    border-radius: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_text {
    margin: 10px 0px;
    color: white;
    position: absolute;
    display: block;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_button {
    margin-left: 5px;
    background: hsl(322deg, 100%, 66%);
    color: hsl(207deg, 100%, 98%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.5s all;
    width: 100px;
    padding: 15px 0px;
    position: absolute;
    right: 0;
    top: 60px;
  }
  .container_contFooter .container_contFooter_block .container_contFooter_block_newsletter .container_contFooter_newsletter_boxInput .container_contFooter_newsletter_boxInput_button:hover {
    background: hsl(321deg, 100%, 78%);
  }
}

/*# sourceMappingURL=main.css.map */
