//Encabezados
$font_encabezados:'Poppins', sans-serif;
$font_weight_encabezados:700;
$font_size_encabezados:53px;   //desktop
$font_size_encabezados_peque:45px;


//MOVIL
$font_titles:35px;



//font weight body
$font_weight_peque:400;
$font_weight_medio:600;
$font_weight_grande:700;





//color
//Primary
$Pink: hsl(322, 100%, 66%);
$Light_Pink: hsl(321, 100%, 78%);
$Light_Red: hsl(0, 100%, 63%);

//Neutral
$Very_Dark_Cyan: hsl(192, 100%, 9%);
$Very_Pale_Blue: hsl(207, 100%, 98%);

