@import "colorFont";

/*GRID_CONTAINER
GRID_HEADER
GRID_SECTION_ONE
GRID_SECTION_TWO
GRID_SECTION_THREE
GRID_SECTION_FOUR
GRID_SECTION_FIVE
GRID_FOOTER*/

.GRID_CONTAINER{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    //grid-gap: 1em;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "GRID_HEADER        GRID_HEADER "
        "GRID_SECTION_ONE   GRID_SECTION_ONE"
        "GRID_SECTION_TWO   GRID_SECTION_TWO"
        "GRID_SECTION_THREE GRID_SECTION_THREE"
        "GRID_SECTION_FOUR  GRID_SECTION_FOUR"
        "GRID_SECTION_FIVE  GRID_SECTION_FIVE"
        "GRID_FOOTER        GRID_FOOTER";

        .GRID_HEADER{
            //padding: 10px 0px;
            //background: rgb(238, 109, 109);
            grid-area: GRID_HEADER;
        }

        .GRID_SECTION_ONE{
            //padding: 10px 0px;
            //background: rgb(238, 109, 109);
            grid-area: GRID_SECTION_ONE;
        }

        .GRID_SECTION_TWO{
            //padding: 10px 0px;
            //background: rgb(238, 109, 109);
            grid-area: GRID_SECTION_TWO;
        }

        .GRID_SECTION_THREE{
            //padding: 10px 0px;
            //background: rgb(238, 109, 109);
            grid-area: GRID_SECTION_THREE;
        }

        .GRID_SECTION_FOUR{
            //padding: 10px 0px;
            //background: rgb(238, 109, 109);
            grid-area: GRID_SECTION_FOUR;
        }

        .GRID_SECTION_FIVE{
            //padding: 10px 0px;
            //background: rgb(238, 109, 109);
            grid-area: GRID_SECTION_FIVE;
        }

        .GRID_FOOTER{
            //padding: 10px 0px;
            //background: rgb(238, 109, 109);
            grid-area: GRID_FOOTER;
        }
        


        

}
