@import "colorFont";


/*
container_header
container_header_logo
container_header_button
*/

.container_header{
    width: 100%;
    padding: 30px 30px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .container_header_logo{
        width: 230px;
        height: 35px;
    }
    .container_header_button{
        width: 150px;
        padding: 10px 0px;
        background: $Very_Pale_Blue;
        border:1px solid $Pink;
        border-radius: 100px;
        cursor: pointer;
        color: $Pink;
        transition: 0.2s all;
    }
    .container_header_button:hover{
        border:1px solid $Light_Pink;
        color: $Light_Pink;
    }
}

@media (min-width:320px) and (max-width:423px){
    .container_header{
       

        /////@at-root
        
        .container_header_logo{
            

            /////@at-root
            width: 120px;
            height: 25px;
        }
        .container_header_button{
        
            ////
            width: 100px;
            padding: 8px 0px;

        }

    }
     
}