@import "colorFont";




.container_secFive{
    width: 100%;
    padding: 80px 0px;
    background: white;
    .container_secFive_title{
        text-align: center;
        font-size: $font_size_encabezados_peque;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
    }

    .container_secFive_button{
        margin-top: 30px;
        width: 350px;
        padding: 20px 0px;
        border: none;
        background: $Pink;
        color: $Very_Pale_Blue;
        border-radius: 50px;
        margin-left:calc(50% - 175px);
        transition: 0.3s all;
        box-shadow: 0px 0px 5px grey;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
    }
    .container_secFive_button:hover{
        background: $Light_Pink;
        cursor: pointer;
    }
}



@media (min-width:320px) and (max-width:423px){
    .container_secFive{
        //@at-root
        width: 100%;
        padding: 50px 0px;
        .container_secFive_title{
            text-align: center;
            font-size: $font_titles;
            background: padding-box;
            color: $Very_Dark_Cyan;

        }
    
        .container_secFive_button{
            margin-top: 30px;
           
            border: none;
            background: $Pink;
            color: $Very_Pale_Blue;
            border-radius: 50px;
            transition: 0.3s all;
            box-shadow: 0px 0px 5px grey;

            //@at-root
            width: 250px;
            padding: 15px 0px;
            margin-left:calc(50% - 125px);

        }
        .container_secFive_button:hover{
            background: $Light_Pink;
            cursor: pointer;
        }
    }
    
}