*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   

}

body{
    font-family: 'Open Sans', sans-serif;  
    //font-weight: //400   600   700
}

@import "colorFont";
@import "grid";
@import "header";
@import "section_one";
@import "section_two";
@import "section_three";
@import "section_four";
@import "section_five";
@import "footer";